aws_region = "us-east-1"

# TODO: domain you bought (same value as in _shared/terraform.tfvars)
domain_name = "spacetimegarden.xyz"

# TODO: where you want critical alerts to land
alert_email_to   = "you@example.com"
alert_email_from = "garden-alerts@spacetimegarden.xyz"

# TODO: bucket name from `make bootstrap-state` output
tfstate_bucket = "spacetime-garden-tfstate-XXXXXXXX"
